.auth {
  background-image: url("../img/auth-bg.png");
  background-size: calc(100% + 10px) calc(100% + 5px);
  background-position-x: -5px;
  background-repeat: no-repeat;
  padding-bottom: 3em;

  &__header {
    background-color: theme-color("light");
    padding-bottom: 2.4em;
    margin-bottom: -1em;
  }
}
