.auth-card {
  background-color: theme-color("bg-auth-card");

  &__heading {
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0.02em;
    color: theme-color("primary");
    text-align: center;
  }
}